# ===============================
# GENERAL
# ===============================
ENV=production
DEBUG=false

# ===============================
# DATABASE
# ===============================
DB_PATH=backend/db/db.sqlite

# ===============================
# TELEGRAM
# ===============================
TELEGRAM_BOT_TOKEN=PUT_YOUR_TELEGRAM_BOT_TOKEN_HERE

# ===============================
# ADMIN / SECURITY
# ===============================
ADMIN_TOKEN=PUT_STRONG_ADMIN_TOKEN_HERE

# ===============================
# TON
# ===============================
TON_WALLET=EQXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# ===============================
# BINANCE
# ===============================
BINANCE_API_KEY=PUT_BINANCE_API_KEY_HERE
BINANCE_API_SECRET=PUT_BINANCE_API_SECRET_HERE

# ===============================
# REDOTPAY
# ===============================

TRUST_WALLET_USDT_ADDRESS=0xXXXXXXXXXXXX
TRUST_WALLET_BNB_ADDRESS=0xXXXXXXXXXXXX
TRUST_WALLET_TON_ADDRESS=EQXXXXXXXXXXXX

HOT_WALLET_PK=0xPRIVATEKEY
HOT_WALLET_ADDRESS=0xADDRESS

# ===============================
# API GATEWAY (Render URLs)
# ===============================
MAIN_API=https://bx-core.onrender.com
WALLET_API=https://bx-wallet.onrender.com
ADMIN_API=https://bx-admin.onrender.com
