BOT_TOKEN=PUT_YOUR_TELEGRAM_BOT_TOKEN
TON_RPC=https://toncenter.com/api/v2/jsonRPC
JETTON_MASTER=EQCRYlkaR6GlssLRrQlBH3HOPJSMk_vzfAAyyuhnriX-7a_a
HOT_WALLET_SEED=word1 word2 ... word24
DATABASE_URL=postgresql://user:pass@host:5432/db
CLAIM_AMOUNT=500000000
DAILY_WITHDRAW_LIMIT=5000000000
NETWORK=testnet
