app = "bx-platform"
primary_region = "ams"

kill_signal = "SIGINT"
kill_timeout = 30

[env]
  ENV = "production"
  PORT = "8080"
  PYTHONUNBUFFERED = "1"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "connections"
    hard_limit = 300
    soft_limit = 200

  [[http_service.checks]]
    interval = "20s"
    timeout = "10s"
    grace_period = "60s"
    method = "get"
    path = "/health"
    protocol = "http"

[[vm]]
  memory = "2gb"
  cpu_kind = "shared"
  cpus = 1
