body {
  background:#0b0f1a;
  color:#fff;
  font-family:system-ui;
  padding:12px;
}

header {
  font-size:22px;
  margin-bottom:16px;
}

.card {
  background:#131a2a;
  border-radius:12px;
  padding:14px;
  margin-bottom:14px;
}

button {
  width:100%;
  padding:12px;
  margin-top:8px;
  border-radius:10px;
  border:none;
  background:#d4af37;
  font-weight:bold;
}
