# ======================================================
# CORE / GATEWAY
# ======================================================
ENV=production

MAIN_API=http://localhost:8000
WALLET_API=http://localhost:8001
ADMIN_API=http://localhost:8002

# ======================================================
# TELEGRAM (ADMIN + MINI APP)
# ======================================================
ADMIN_TELEGRAM_IDS=5689558176
ADMIN_WALLET=UQARo43EOAPcJs_839ntozSAv_Nktb-bvWJADqM0z9Gg8xad
# ======================================================
# SECURITY
# ======================================================
ADMIN_TOKEN=b6a9f3d5e7c1a2f4e8d9c0b1a7f6e5d4c3b2a1f0e9d8c7b6a5
WEBHOOK_SECRET=bx_wh_9f3cA1e7KpR2Qm8ZxLwY
TON_API_KEY=4cec033156f159564a33ef3f1dec77064d37acd3b0536df8a89d129db329c75f
TON_MNEMONIC=rug man matter shop remind license theme sound loop fancy try lesson loan near gauge pen mouse zero envelope jelly piece blue impose cradle
# ======================================================
# DATABASE (عند تشغيل Core API فقط)
# ======================================================
DB_PATH=db.sqlite

# ======================================================
# BX PRICING (MATCH CORE CODE)
# ======================================================
BX_INTERNAL_PRICE_USDT=2.50
BX_BUY_SPREAD_USDT=0.08
BX_BUY_SPREAD_TON=0.12
BX_SELL_SPREAD_USDT=0.12
BX_SELL_SPREAD_TON=0.15
SELL_LIMIT_RATIO=0.30
MAX_MONTHLY_SELL_COUNT=10
# ======================================================
# MINING
# ======================================================
MINING_RATE_BX=0.001
MINING_RATE_TON=0.00002

# ======================================================
# CASINO (HOUSE EDGE)
# ======================================================
HOUSE_EDGE_DICE=0.1
HOUSE_EDGE_SLOTS=0.10
HOUSE_EDGE_PVP=0.07
HOUSE_EDGE_CHICKEN=0.08
HOUSE_EDGE_CRASH=0.1

# ======================================================
# BINANCE (ADMIN / PRICE FEED)
# ======================================================
BINANCE_MERCHANT_ID=35885398
BINANCE_API_KEY=mq8YYeZgeDDPGBYcb8V78FLOMS5n2pDGLOGRQaHbBr9vAsyTm1jVj1iHYmhHZUa7
BINANCE_API_SECRET=ucvpzSabQ4wbZ1jB7MYncRzlBSCNNxwVy0ODv4joaJumhqybHPCEuml9bSGkrL7e
BINANCE_BASE_URL=https://api.binance.com

# ======================================================
# TON / USDT (READY FOR FUTURE)
# ======================================================
TON_NETWORK=mainnet
USDT_TON_CONTRACT=EQCRYlkaR6GlssLRrQlBH3HOPJSMk_vzfAAyyuhnriX-7a_a
BX_JETTON_MASTER=EQCRYlkaR6GlssLRrQlBH3HOPJSMk_vzfAAyyuhnriX-7a_a
